// EMBED


	.embed-responsive {
	    position: relative;
	    display: block;
	    height: 0;
	    padding: 0;
	    overflow: hidden;
	}
	
	.embed-responsive-16by9 {
	    padding-bottom: 56.25%;
	}

	.embed-responsive .embed-responsive-item,
	.embed-responsive embed,
	.embed-responsive iframe,
	.embed-responsive object,
	.embed-responsive video {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: 0;
	}