@IMPORT url("highlight.css");

html {
    padding:       0pt;
    margin:        0pt;
}

body, td {
    margin-left:   10%;
    margin-right:  10%;
    font-family:   "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-size: medium;
}

div {
    margin:        0pt;
}

p {
    text-align:    justify;
}

hr {
    border:        1px solid gray;
    background:    gray;
}

h1, h2, h3, h4 {
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 1em 0 0.5em;
}

h2 {
    font-size: 170%;
    padding: 0;
}

h3 {
    border-bottom: 1px solid #EAEAEA;
    color: #CC4400;
    font-size: 135%;
    padding-bottom: 3px;
}

h4 {
    color: #AAAA99;
    font-size: 130%;
}

pre {
    line-height:   1.0;
    color:         black;

    -moz-tab-size: 4;
    -o-tab-size:   4;
    tab-size:      4;
}

pre.programlisting {
    font-size:     10pt;
    padding:       7pt 3pt;
    border:        1pt solid black;
    background:    #F9F9F6;
    clear:         both;
}

div.table {
    margin:        1em;
    padding:       0.5em;
    text-align:    center;
}

table[frame=void] {
    display:       table;
    width:         100%;
    border:        1px black solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table[frame=void] td {
    padding-left:  7px;
    padding-right: 7px;
    border:        1px black solid;
}

table[frame=void] th {
    padding-left:  7px;
    padding-right: 7px;
    border:        1px black solid;
}

.sidebar {
    float: right;
    margin: 10px 0 10px 30px;
    padding: 10px 20px 20px 20px;
    width: 33%;
    border: 1px solid black;
    background-color: #F4F4F4;
    font-size: 14px;
}

.code {
    font-family: Courier New,monospace;
}

.mediaobject {
    padding-top: 30px;
    padding-bottom: 30px;
}

.legalnotice {
    font-size: 12px;
    font-style: italic;
}

p.releaseinfo {
    font-size: 100%;
    font-weight: bold;
    padding-top: 10px;
}

p.pubdate {
    font-size: 120%;
    font-weight: bold;
}

span.productname {
    font-size: 200%;
    font-weight: bold;
}

th.versioninfo {
    font-size: 10px;
    font-weight: normal;
    text-align: left;
}